.debit-card {
    border: none;
    overflow: hidden;
    border-radius: $radius; // Usando variável
    background-color: $color-white;

    &__header {
        padding: $padding-card;
        background-color: $color-secondary; // Usando variável
    }

    &__header-title {
        display: flex;
        align-items: center;
        
        h1 { font-size: 20px; }
    }

    &__header-icon {
        width: 40px;
        margin-right: 10px;
    }

    &__content {
        padding: $padding-card;
        background-color: $color-white;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
    }

    &__content-item {
        display: flex;
        align-items: center;
        padding: 20px;
    
        p:nth-of-type(1) { margin-right: auto; }
    }
}